# used to dictate the primary location for metrics
# valid services = cloudwatch
PRIMARY_METRICS_SOURCE = 'arn:partition:cloudwatch:testing:account:aws-lambda-fsm'
SECONDARY_METRICS_SOURCE = None  # NOT SUPPORTED YET

# used to dictate the primary location for caching
# valid services = elasticache (memcache), dynamodb
PRIMARY_CACHE_SOURCE = 'arn:partition:elasticache:testing:account:aws-lambda-fsm'
SECONDARY_CACHE_SOURCE = None  # NOT SUPPORTED YET

# used to dictate the primary location for event dispatch
# valid services = kinesis, dynamodb, sns, sqs
PRIMARY_STREAM_SOURCE = 'arn:partition:kinesis:testing:account:stream/aws-lambda-fsm'
SECONDARY_STREAM_SOURCE = 'arn:partition:dynamodb:testing:account:table/aws-lambda-fsm.stream'

# used to dictate the primary location for checkpointing
# valid services = dynamodb
PRIMARY_CHECKPOINT_SOURCE = 'arn:partition:dynamodb:testing:account:table/aws-lambda-fsm.checkpoint'
SECONDARY_CHECKPOINT_SOURCE = None  # NOT SUPPORTED YET

# used to dictate the primary location for retries
# valid services = dynamodb, kinesis, sns, sqs
PRIMARY_RETRY_SOURCE = 'arn:partition:dynamodb:testing:account:table/aws-lambda-fsm.retries'
SECONDARY_RETRY_SOURCE = 'arn:partition:kinesis:testing:account:stream/aws-lambda-fsm'

# used to dictate the primary location for environment storage
# valid services = dynamodb
PRIMARY_ENVIRONMENT_SOURCE = 'arn:partition:dynamodb:testing:account:table/aws-lambda-fsm'
SECONDARY_ENVIRONMENT_SOURCE = None  # NOT SUPPORTED YET

AWS_CHAOS = {}
ENDPOINTS = {}

try:
    import settingslocal
except ImportError:
    settingslocal = None

if settingslocal:
    for setting in dir(settingslocal):
        globals()[setting.upper()] = getattr(settingslocal, setting)
